.container
{
    width: 90.5vw;
    background: white;
    padding: 20px;
    margin: 2px;
}
.top
{
    width: 97vw;
    height: 30vh;
    background-image: linear-gradient(black , grey );
    border-radius: 10px 10px 0px 0px;
}
.image img{
    border-radius: 50%;
    width: 200px;
    background: white;
    padding: 7px;
}
.image
{
    width: 200px;
    margin: auto;
    margin-top: -22vh;
}
.info
{
    width: 50%;
    margin: auto;
    margin-top: 3vh;
    text-align: center;
    font-weight: 500;
}